* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
}
.container {
    text-align: center;
    margin-top: 500px
}
h1 {
    font-size: 25px;
    padding-bottom: 10px;
}
button {
    border: 0;
    border-radius: 5px;
    background: #4676D7;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
}
